/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.base{
	-fx-text-fill: #302833;
}

.background{
	-fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #13547a 0%,  #4992A0 100%);
}

.form{
	-fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #dcf8ea 0%,  #edfcf4 100%);
}

.button{
	-fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #72e2aa 0%,  #95eabf 100%);
 }

.push{
	-fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #1d8d55 0%,  #23b16a 100%);
	-fx-text-fill:#edfcf4;
}